@tailwind base;
@tailwind components;
@tailwind utilities;

.router-link-exact-active {
  @apply border-b-2 border-blue-500 text-blue-600;
}

.slide-fade-enter-from {
  @apply translate-x-full opacity-0 blur-sm;
}

.slide-fade-enter-active {
  @apply transition-all duration-1000 motion-reduce:transition-none;
}

.slide-fade-enter-to {
  @apply translate-x-0 blur-0;
}

.slide-fade-leave-active {
  transition: all 0.2s cubic-bezier(1, 0.5, 0.8, 1);
}

.slide-fade-leave-to {
  @apply opacity-0 blur-md;
}

.table th:first-child {
  @apply static z-0;
}

.alert-success {
  @apply bg-green-300 text-green-700;
}

.alert-error {
  @apply bg-red-300 text-red-700;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}